<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutratrack</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/0D0Hg2F/nutratrack-website-favicon-color.png">
</head>
<body class="bg-gray-200">
    
<nav class="border-gray-200 bg-indigo-700">
    <div class=" flex flex-wrap items-center justify-between  bg-indigo-700 p-7">
      <a href="/" class="flex items-center">
        <img src="https://i.ibb.co/R7Y7hsF/logo-no-background.png" alt="logo-no-background" class="w-[200px]">
      </a>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4  md:flex-row md:space-x-8 md:mt-0 bg-indigo-700">
          <li>
            <a href="/updategoal" class="block py-2 pl-3 pr-4 text-white bg-indigo-700 rounded md:bg-transparent " aria-current="page">Update Goal</a>
          </li>
          <li>
            <a href="/nutrition" class="block py-2 pl-3 pr-4 text-white bg-indigo-700 rounded md:bg-transparent " aria-current="page">Start</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>