

  {% include 'myapp/header.html' %}
  <div>
    <div class="grid grid-cols-2 py-[10vh]  px-[10vw]">


                  <div class="p-8">
                      <h1 class="text-indigo-700 text-[7vh] font-bold ">Your Nutrition, In your Hands</h1>
                      <a id="Start" class="mt-10 block padding bg-indigo-700 text-center p-5 rounded-xl text-white text-2xl w-[10vw]" href="/nutrition"> Start Now</a>
                  </div>
                  <div>
                      <img class="rounded mx-auto d-block" src="https://i.ibb.co/zxmxCvL/side.webp" alt="side" >
                  </div>

    </div>
  </div>
  {% include 'myapp/footer.html' %}